#main {
    background-color: #D3D3D3;
    border-radius: 8px;
    padding-top: 2%;
    padding-bottom: 4%;
    margin-bottom: 4%;

}

#whiteBox {
    background-color: white;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 4%;
    padding-bottom: 1%;
}

#image {
    max-width: fit-content;
    display: block;
}


#img-div {
    margin-left: 8%;
    margin-right: 8%;
}

#tribute-info {
    width: 50%;
    text-align: left;
}

#spaceBox {
    height: 32px;

}

#endingLine {
    font-weight: bold;
    font-size: 20px;
    margin-left: 12.5%;
    margin-right: 12.5%;
}